.header-bg {
    background-image: url('https://img.pikbest.com/wp/202346/wooden-background-wall-3d-square-graphic-on-black-for-wallpaper-decor-or_9729316.jpg!w700wp');
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
  }
  .stocksir-logo{
    width: 7em;
    height: auto;
    margin-left: -13em;
  }